/vendor
composer.lock
composer.phar

.DS_Store
Thumbs.db
tests/.phpunit.cache
tests/.phpunit.result.cache
/tests/integration/tmp
.vagrant
.idea/*
.vscode
js/coverage-ts

flarum-instance-2.0/
flarum-plugins-1.x/